/* ChatWindow.module.css */
.chatWindow {
    display: flex;
    flex-direction: column;

    flex: 1;          /* 🔑 puede crecer */
    min-width: 100%;     /* 🔥 puede encogerse */

    padding-top: 3vh;
    background: var(--primary-color);
    gap: 10px;

    overflow-y: auto;
    height: 100%;
    margin-bottom: 13vh;
}

.chatTitle {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 5%;
    font-size: 2em;
}

.chatWindow::-webkit-scrollbar {
    width: 10px;
}

.chatWindow::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);

}

.chatWindow::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

.no__messages {
    margin-bottom: 0;
}