.chatWindow{
    background-color: rgb(122, 15, 15);
    min-width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding-inline: 2%;
    padding-block: 1%;
    overflow-y: scroll;
}

.title{
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.assistant{
    align-self: self-start;
}

.user{
    align-self: self-end;
}

.chatWindow::-webkit-scrollbar {
    width: 10px;
}

.chatWindow::-webkit-scrollbar-track {
    background-color: black;
}

.chatWindow::-webkit-scrollbar-thumb {
    background-color: #c73838;
}