.chatSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #3C6F79;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:center;
    width: 280px;
    height: 100%;
    transition: all .7s;
    border-right: 7px solid var(--border-color);
}


.newChat{
    background-color: rgb(162, 42, 42);
    color: white;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-top: 30px;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.collapsed {
    background-color: #3C6F79;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.hidden{
    opacity: 0;
    transition: all .3s;
}

.active{
    background-color: green;
}

.toggleSidebar {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #c73838;
}

.toggleCollapsed{
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    
}

.chatList {
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    gap: 2px;
    height:85vh;
    width: 85%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-y: auto;
    padding-right: 20px;
    overflow-x: hidden;
    transition: all ease-in-out 1s;
    padding-left: 15px;
}

.chatList::-webkit-scrollbar {
    width: 10px;
    transition: all .1s;
}

.chatList::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

.chatList::-webkit-scrollbar-thumb {
    background-color: #969647;
}

/* 
TODO: Fix ellipsis */

.chat {
  display: flex;            /* para alinear título y preview */
  flex-direction: row;   /* título arriba, preview abajo */
  justify-content: space-around;  
  align-items: center;
  width: 90%;
  height: 60px;             /* altura fija */
  box-sizing: border-box;    /* incluye padding en el alto */
  cursor: pointer;
  padding-block: 10px;
  padding-left: 10px;
  transition: all ease-in-out .3s;
}


.title{
    justify-self: start;
}

.chatControl{
    background-color: transparent;
    cursor:pointer;
    pointer-events: all;
}

/* CREAR OVERLAY QUE PONGA UN COLOR DE CONTRASTE */
.chat:hover{ 
    background-color:#599ba8;
}

.chat.active:hover{
    filter: brightness(1.3);
    background-color: green;
}