/* TODO: cuando envío un mensaje sin chat asociado, se crea un nuevo chat, si el mensaje es demasiado largo causa overflow sobre el chat de chatList, y los controles se salen (debo limitar los caracteres que se muestran o superponer los botones al titulo de chat) */


.chatSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-darker);
    width: 240px;
    height: 100%;
    transition: all .6s;
    z-index: 2;
    border-right: var(--border-width) solid var(--border-color);
    color: white;
}

.newChat{
    background-color: #a7490b;
    color: black;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px;
}

.messageTitle{
    overflow: hidden;
    text-overflow: ellipsis;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.collapsed {
    background-color: var(--primary-darker);
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 30px;
    transition: all .6;
}

.hidden{
    opacity: 0;
    transition: all .3s;
}


.toggleSidebar {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #c73838;
}

.toggleCollapsed{
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    
}

.chatList {
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    gap: 2px;
    height:85vh;
    width: 85%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-y: auto;
    padding-right: 15px;
    overflow-x: hidden;
    transition: all ease-in-out 1.5s;
    padding-left: 15px;
    font-size: 15px;
}

.chatList::-webkit-scrollbar {
    width: 10px;
    transition: all .1s;
}

.chatList::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

.chatList::-webkit-scrollbar-thumb {
    background-color: #a7490b;
}

/* 
TODO: Fix ellipsis */

.chat {
    display: flex;
    /* para alinear título y preview */
    flex-direction: row;
    /* título arriba, preview abajo */
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60px;
    /* altura fija */
    box-sizing: border-box;
    /* incluye padding en el alto */
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 10px;
    transition: all ease-in-out .3s;
    pointer-events: all;
    color: black;
}


.title{
    justify-self: start;
}

.controlsWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 5px;
    margin-right: 2px;
}

.chatControl{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor:pointer;
    opacity: 0;
    transition: all .3s;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

.chat:hover .chatControl{
    opacity: 1;
}

.button__icon{
    height: 15px;
    width: 15px;
}

.chat:hover{ 
    background-color:#599ba8;
}

.active{
    background-color: #a75a28;
}


.chat.active:hover{
    filter: brightness(1.3);
    background-color: #bb662e;
}
