.chatSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: blue;
    width: 250px;
    height: 100%;
    transition: all .5s;
    padding-left: 10px;
}

.collapsed {
    background-color: yellow;
    width: 50px;
}

.toggleSidebar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.messageList {
    margin-top: 20%;
    height: 80%;
    width: 80%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
    overflow-y: scroll;
}

.messageList::-webkit-scrollbar {
    width: 8px;
}

.messageList::-webkit-scrollbar-track {
    background-color: black;
}

.messageList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.messageList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.message {
    text-wrap-mode: wrap;
}