
.chatSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgb(159, 36, 36);
    width: 280px;
    height: 100%;
    transition: all .5s;
    border-color: black;
}

.collapsed {
    background-color: rgb(122, 15, 15);
    width: 50px;
}

.hidden{
    pointer-events: none;
    display: none;
    opacity: 0;
}

.toggleSidebar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.messageList {
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    gap: 2px;
    height:85vh;
    width: 85%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    list-style: none;
    overflow-y: auto;
    padding-right: 20px;
    overflow-x: hidden;
    transition: all ease-in-out .3s;
    padding-left: 15px;
}

.messageList::-webkit-scrollbar {
    width: 10px;
}

.messageList::-webkit-scrollbar-track {
    background-color: black;
}

.messageList::-webkit-scrollbar-thumb {
    background-color: #c73838;
}

/* 
TODO: Fix ellipsis */

.message {
  display: flex;            /* para alinear título y preview */
  flex-direction: column;   /* título arriba, preview abajo */
  justify-content: center;  /* centra verticalmente */
  width: 90%;
  height: 60px;             /* altura fija */
  padding: 7px 5px;
  box-sizing: border-box;    /* incluye padding en el alto */
  cursor: pointer;
}

.message:hover{
    background-color: #c73838;
}