.chatSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: rgb(122, 15, 15);
    width: 250px;
    height: 100%;
    transition: all .5s;
    padding-left: 10px;
}

.collapsed {
    background-color: rgb(122, 15, 15);
    width: 50px;
}

.hidden{
    pointer-events: none;
    display: none;
    opacity: 0;
}

.toggleSidebar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.messageList {
    margin: 0;
    padding: 0;
    margin-top: 20%;
    height: 73vh;
    width: 70%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding-left: 10px;
    list-style: none;
    overflow-y: auto;
    padding-right: 50px;
}

.messageList::-webkit-scrollbar {
    width: 8px;
}

.messageList::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 5px;
}

.messageList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.messageList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.message {
    cursor: pointer;
    padding-block: 14px;
    background-color: transparent;
    color: white;
    transition: all 1s;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 100%;
    width: 100%;
    min-width: 0;
    display: block; /* o flex si necesitás íconos */
}


.message:hover{
    background-color: gray;
}