.inputBox{
    background-color: #803707;
    height: 13vh;
    min-height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-inline: 2vw;
    border-top: 7px solid var(--border-color);
}

.inputField{
    width: 90%;
    height: 40px;
    margin-top: 15px;
    border-radius: 2px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    background-color: rgb(159, 36, 36);
    color:white;
}

.sendButton{
    width: 60px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 2px;
    border: none;
    background-color: rgb(159, 36, 36);
    color: white;
    font-size: 16px;
    cursor: pointer;
}