.inputBox{
    background-color: green;
    min-height: 70px;
    display: flex;
    justify-content: center;
}

.inputField{
    width: 90%;
    height: 40px;
    margin-top: 15px;
    border-radius: 2px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
}

.sendButton{
    width: 60px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 2px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}