.inputBox {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-darker);
    width: 100%;
    height: var(--input-box-height);
    min-height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: var(--border-width) solid var(--border-color);
}

.inputField {
    width: 90%;
    height: 30px;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
    background-color: white;
}

.sendButton {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #3C6F79;
    color: white;
    cursor: pointer;
    right: 7.5%;
    transition: all .2s;
}

.sendButton:hover {
    filter: contrast(1.5);
    scale: 1.05;
}

.imgSendIcon {
    width: 20px;
    height: 20px;
}

.no__messages {
    width: 40%;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    border-radius: 30px;
}


.suggestion__button {
    height: 80px;
    cursor: pointer;
    background-color: #3C6F79;
    border-radius: 5px;
    transition: all .2s;
}

.suggestion__button:hover {
    scale: 1.1;
}