.inputBox{
    position: relative;
    background-color: #803707;
    width: 100%;
    height: 13vh;
    min-height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-inline: 2vw;
    border-top: var(--border-width) solid var(--border-color);
}

.inputField{
    width: 90%;
    height: 30px;
    margin-top: 15px;
    border-radius: 2px;
    border: none;
    padding-left: 15px;
    background-color: white;
}

.sendButton{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 2px;
    border: none;
    background-color: #3C6F79;
    color: white;
    font-size: 16px;
    cursor: pointer;
    right: 8%;
}

.imgSendIcon{
    width: 20px;
    height: 20px;
}