.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

.chatArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
}
