:root{
    height: 100vh;
    margin: 0;
    padding: 0;

    /* VARIABLES */
    --border-color: #332407;
    --border-width: 4px;
}

@font-face {
    font-family: "Quicking";
    src: url(./assets/Quicking.otf);
}

body, #root,html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: "Quicking";
}