:root{
    height: 100vh;
    margin: 0;
    padding: 0;

    /* VARIABLES */
    --border-color: #332407;
}

body, #root,html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}