.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    background-color: yellow;
    width: 80%;
    height: fit-content;
    border-radius: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}