.userProfile {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: #3C6F79;
    color: white;
    width: 100%;
    height: 8vh;
    min-height: 13vh;
    margin-top: 2vh;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 20px;
    object-fit: contain;
}

.username {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    padding-right: 20px;
}

.collapsed{
    display: none;
    opacity: 0;
    transition:all 1s;
}