.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #f9fafb;
}

.header {
  background: #202123;
  color: #fff;
  padding: 2px;
  padding-right: 30px;
  font-size: .5rem;
  text-align: right;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  background-color: violet;
}



.sidebar {
  position: relative;
  background: blue;
  padding: 1rem;
  border: 3px solid black;
  transition: width 0.3s ease;
  width: 240px;
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebar.collapsed {
  width: 60px;
  padding: 0.5rem;
  align-items: center;
  /* ✅ Centra el botón */
}

.sidebar.collapsed p {
  display: none;
  /* ✅ Oculta el texto */
}

.content {
  background: red;
  flex-grow: 1;
}

.footer {
  background: green;
  color: #4b5563;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  text-align: center;
}