/*AgentPreview.module.css*/

.AgentPreview {
    position: relative;
    height: 100%;
    max-width: 400px;
    flex-shrink: 0;
    border-left: var(--border-width) solid;
    border-color: var(--border-color);
    background: var(--secondary-color);
}

.image {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
    /* Propiedad específica de WebKit */
    -webkit-user-drag: none;
    /* Para compatibilidad con Safari/Chrome */
    user-select: none;
    /* Evita selección accidental */
    pointer-events: none;
    /* Opcional: bloquea interacción */

}

.title {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    font-size: 4em;
    color: var(--text-color);
    user-select: none;
}

span {
    color: var(--accent-color);
}