.AgentPreview{
    position: relative;
    height: 100%;
    max-width: 400px;
    border-left: 7px solid black;
}

.image{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
}

.title{
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left: 50%;
    top:-30px;
    transform: translateX(-50%);
    font-size: 4em;
}

span{
    color: rgb(237, 112, 112);
}