

.message_text {
    color: black;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-transform: capitalize;
    text-align: left;
}