/*.Message.module.css*/

.message_text {
  color: black;
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

